/*!
global > color
------------------------------
*/
:root {
    --color-font-base: #333;
}

/*!
global > content-width
------------------------------
*/
:root {
    --width-content-s: 920px;
    --width-content: 1080px;
}

/*!
global > font
------------------------------
*/
:root {
    --font-family-base: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
}

/*!
global > z-index
------------------------------
*/
:root {
    --z-index-modal: 100;
    --z-index-header: 30;
    --z-index-menu: 10;
    --z-index-default: 1;
}
