/*!
layout > container
------------------------------
*/
.l-container-s {
    width: min(90%, var(--width-content-s));
    margin-inline: auto;
}

.l-container {
    width: min(90%, var(--width-content));
    margin-inline: auto;
}

/*!
layout > header
------------------------------
*/

/*!
layout > footer
------------------------------
*/
